.section__about {
  background-color: rgba(238, 238, 238, 0.829);
  height: 100vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.about__left {
  width: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.about__left__title {
  font-size: 60px;
  font-weight: 300;
  text-transform: capitalize;
  letter-spacing: 10px;
  color: #1565c0;
}
.about__left__description {
  text-transform: capitalize;
  font-weight: 100;
  line-height: 2.1;
}
.about__right {
  cursor: pointer;
}
.img-- {
  height: 400px;
  width: 400px;
  border-radius: 10px;
}
